
.wrapper .carousel{
    display: flex;
    width:max-content;
    
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    
    
}
.carousel img{
    
    height: 320px;
    object-fit: cover;
    padding: 0 1rem;
    border-radius: 20px;
    
    
}
.wrapper{
    max-width: 1200px;
    position: relative;
    scroll-behavior: smooth;
}





.item{
    width: calc(100%/3);
    height: 400px;
    object-fit: cover;
    padding: 0 1rem;
    border-radius: 20px;
    
    
    
    overflow: hidden;
    transition: 0.5s;
    margin:10px;
    scroll-snap-align: start;
    border: 2px solid var(--main-color);
    padding: 2rem 1rem;
}
.item .avatar{
    display: block;
    margin:5px  auto 20px;
    width:80%;
    height:150px;
    object-fit: contain;
    
    border-radius: 20px;
    box-shadow: 0 10px 15px #7e878d;
}
.item .content{
    padding:10px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.direction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.direction i{
    display: flex;
    background-color:var(--main-color);
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}
  
.exp-container{
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 20px;

   }
   .exp-container p{
    padding: 2rem;
   }
   .exp-container h3{
    color: var(--main-color);
   }

   .exp-container h5{
    color: gray;
   }
   .exp-container img{
    width: 100%;
    height: auto;
   }

   @media (max-width:1300px){
    section{
        width: 100%;
    }
     .guru-cards{
        width: 100%;
     }
     .yoga-guru{
        width: 100%;
     }
   } 
   @media (max-width:1150px){
    
    
    .guru-cards{
       width: 100%;
    }
    .yoga-guru{
       width: 100%;
       column-gap: 4rem;
    }
    .ham-navbar .list{
        margin: 7rem 0
    }
  } 
  @media (max-width:1080px){
    section{
        width: 100%;
    }
    .guru-cards{
        width: 100%;
     }
     .yoga-guru{
        width: 100%;
     }
     
    
  }
@media (max-width:998px){
    section{
        width: 100%;
        
    }
    .guru-cards{
        width: 100%;
     }
     .yoga-guru{
        width: 100%;
     }
     .home .text-content {
        padding: 2rem 6rem;
     }
     
}
@media (max-width:800px){
    .international .text-content p {
        padding: 0px 0.5rem;
    }
    .creator{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:660px){
    section {
        
        padding-bottom: 8rem;
        width: 100%;
    }
    .yoga-history p {
        padding: 0 1rem;
    }
    .history img{
        width: 80%;
    }
    
    .exp-container {
        display: grid;
        grid-template-columns: 60% 40%;
        justify-content: space-between;
        align-items: center;
        
    }
}
@media (max-width:560px){
    header .navbar{
        display: none;
    }
    #sign-in{
        display: block;
    }
    .sign-back-btn{
        display: flex;
        justify-content: space-between;
        
    }
    header .ham-navbar .list {
        padding: 0rem 0;
        
    }
    ham-navbar .list {
        margin: 5rem 0;
    }
    .home .text-content {
        padding: 2rem 2rem;
    }
    .benefits .yoga-facts img {
        width: 80%;
        height: auto;
    }
    .benefits .yoga-facts {
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}
@media (max-width:460px){
    .benefits .yoga-facts {
        display: grid;
        grid-template-columns: 100%;
        
    }
    .benefits .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .history{
        grid-template-columns: 100%;
    }
    .international .yoga-day {
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        align-items: center;
    }
    .international .yoga-day .text-content{
        order: 1;
    }
    header .ham-navbar {
        height: 110vh;
    }
    .exp-container{
        display: grid;
        grid-template-columns: 100%;
        padding: 1rem 0;
    }
    section .all-container{
        display: grid;
        grid-template-columns:100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:410px){
    .benefits .yoga-facts {
        display: grid;
        grid-template-columns: 100%;
        
    }
    .benefits .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .history{
        grid-template-columns: 100%;
    }
    .international .yoga-day {
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        align-items: center;
    }
    .international .yoga-day .text-content{
        order: 1;
    }
    header .ham-navbar {
        height: 110vh;
    }
    .exp-container{
        display: grid;
        grid-template-columns: 100%;
        padding: 1rem 0;
    }
    section .all-container{
        display: grid;
        grid-template-columns:100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}