@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    scroll-padding-top: 2rem;
    
    
}

:root{
  
    --main:#FCA61F;
    --blue:#105ef9;
    --black:#444;
    --light-color:#bbbaba;
    --box-shadow:2px 2px 10px 2px black;
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
    --white:white;
}
html{

    width: 100%;

}
@font-face {
  font-family: 'Gumela';
  src: url('Gumela.ttf');
}
body{
    overflow-x: hidden;
    width: 100%;
     /* background:  rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1) 35%, rgba(0,212,255,1) 100% );
    background: linear-gradient(to right, #040404, #242424, #656565); */

    background-image: linear-gradient(90deg, #FFDEE9 3%, #B5FFFC 40%, #ffffff 100%);
    background-size: cover;
    background-position: fixed;
    background-attachment: center;
    font-family: my_font;
}

#theme-toggle{
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: auto;
  font-size:20px;
}


/* ---------------Colors------------- */





/* ---------------------------------- */
#theme-toggle{
  display: block;
  
  cursor: pointer;
  font-size: 20px;
  
  font-weight: bold;
  color: var(--main);
  
  transition: all 0.6s linear;
}
.btns .fas{
  padding-right:2%;
}
.sidebar .fa-solid{
  text-align: center;
  height: 30px;
  width: 30px
  ;
}




/* -------------- */








/* --------------- */











::selection{
    background-color: var(--main);;
    color: white;
}

.heading{
    
    text-align:center;
     font-size:60px; 
    text-transform:uppercase; 
    letter-spacing:4px;
    color:black;
    font-family: 'Gumela';
     font-weight:bold;
     text-shadow:2px 2px 5px 2px black;
     padding-bottom: 1.8rem;
     /* text-shadow: 2px 2px 2px  var(--light-color); */
}
section{
    padding:4.5rem 2%;
    
    color: white;
    
}
section.home{
  padding:6rem 2%; 
  background-color: #FFDEE9;
background-image: linear-gradient(90deg, #FFDEE9 3%, #B5FFFC 40%, #ffffff 100%);

}
.home-section{

    height: 100%;
}



#theme-toggle{
  display: block;
  
  cursor: pointer;
  font-size: 20px;
  right: 0;
  align-items: right;
  font-weight: bold;
  color: var(--main);
  border: 2px solid var(--green);
  transition: all 0.6s linear;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.flex2{
    flex:2;
}
.flex3{
    flex:3;
}
.text-align{
  text-align: center;
}
p{
  font-family: 'Gumela';
  color:var(--black);
}








    
    
 

.dropdown-menu{
  display: none;
  width: 100%;
  position: absolute;
}

.slider{
  display: none;
}





/* Intro part */



  section .container1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    margin-top: 2rem;
  /* width:100%; */
    
   
  }
  .my-home-img{
    
    background:  transparent;
    
  }
  
  
  
  

  .text-align{
    text-align: center;
  }
  .home-img img{
    width: 100%;
    animation: move 1s linear infinite;
    
  }


  .home-img {
    
    padding: 4rem 4rem;
    
  }
  
  
 
  .home-text span {
    font-family: 'Gumela';
    font-weight: bold;
    color: var(--main);
  }
  .home-text h3{
    text-align: left;
    margin-left:7.8%;
    color:black;
    font-size: 1.5rem;
    font-family: 'Gumela';
  }
 
  .home-text h1 {
    font-size: var(--big-font);
    font-family: 'Gumela';
    color:rgb(62, 62, 62)
  }
  
 
  .home-text h2 {
    font-size: 2rem;
    
    font-family: 'Gumela';
  }
  .home-text h2 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    color:var(--main);
    overflow: hidden;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end) infinite,
                blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
  to { width: 100% }

  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main); }
  }
 


  .home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 1rem;
    font-family: 'Tillana', cursive;
    padding:20px 0;
    padding-bottom: 10px;
    
  }
 
  
 
  .social a {
    
    font-size: 22px;
    color: gold;
    padding: 0px 10px;
    
  }
  .social a i{
    transition: all 0.3s ease-in-out;
    text-shadow:3px 3px 5px black;
  }
  .social a i:hover {
    text-shadow:3px 3px 5px black;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    color: var(--main);
    
    
  }
  .btn {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    
    color: #fff;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
   
  }
  .btn:hover {
    color:var(--main);;
    background: transparent;
    outline:1px solid var(--main);
    box-shadow: 2px 2px 5px black;
  }
  


  /* About me */
  .about-me .left img{
    width: 65%;
    top: 0;
    background-color: var(--main);;
    border-bottom: 10px solid;
    border-color: var(--main);
    border-top: 10px solid;
    border-color: var(--main);;
    
    box-shadow:2px 2px 5px 2px black;
    height: auto;
    background:  transparent;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  }

  .about-me .container{
    display:grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    padding:2rem 2rem;
    border: 1px solid var(--main);
  }

  .about-me .left{
    flex: 1 1 0.5rem;
  }
  .about-me .right{
    flex: 1 1 0.5rem;
  }
  .about-me p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0rem;
    font-family: 'Alkatra', cursive;
    padding:20px 0;
    padding-top:0;
    letter-spacing: 1px;
    word-wrap: wrap;
    padding-bottom: 10px;
  }
  .about-me span{
    color: var(--main);;
    
    font-family: 'Gumela';
     font-weight:bold;
  }
  .about-me span.h3{
    color: var(--main);;
    font-family: 'Russo One', sans-serif;
  }
  .about-me a{
    text-align: center;
  }
  .btn1 {
    text-align: center;
    padding: 0.5rem 0.7rem;
    background-color: var(--main);;
    color: white;
    transition: all 0.2s linear;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    
  }
  .btn1:hover{
    color:var(--main);;
    background: transparent;
    outline:1px solid var(--main);
    box-shadow: 2px 2px 5px black;
    
  }




  /* Personal */
 
 .personal span{
  color: var(--main);;
  
    font-family: 'Gumela';
     font-weight:bold;
}
  .box{
    padding:1rem 2rem;
    box-shadow: 1px 1px 5px 1px black;
    text-align: center;
    
    transition: all 0.3s ease-in-out;
  }
  .box:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 15px 3px rgba(162, 102, 25, 0.42);
  }
  .box h2{
    padding: 10px 0;
    text-transform: uppercase;
    color: var(--main);;
  }
  
  .personal .container{
    display: grid ;
    grid-template-columns: 50% 49%;
    column-gap: 10px;
    background-color: transparent;
    padding: 20px;
    border: 1px solid var(--main);
  }
  .personal .personal-info{
      display: grid;
      grid-template-columns: auto;
      row-gap:5px;
      
      
  }
  .skills-contain{
    box-shadow: 2px 2px 10px 2px black;
  }
  .tech-skills{
    padding:3rem 2rem;
    
    box-shadow: 1px 1px 5px 1px black;
    border: 1px solid white;
  }
.tech-skills .skills .progress{
  width: 100%;
  background-color: gray;
}
.progress {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}
.progress .light-bar{
  width: 100%;
  background-color:gray;
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    
    border-radius: 0.5rem;
}

.percent-bar {
  background-color: var(--main);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  color: black;
  border-radius: 0.5rem;
}
.progress .html{
  width: 80%;
}
.progress .javascript{
  width: 85%;
}
.progress .cpp{
  width: 90%;
}
.progress .python{
  width: 95%;
}
.progress .css3{
  width: 80%;
}
.progress .ms{
  width: 90%;
}
.tech-skills h2{
    color: var(--main);
    text-transform: uppercase;
}
  
  

/* Experience */
h3{
  color: black;
  font-family: 'Gumela';
  font-weight:bold;
}

.experience span{
  color: var(--main);
  font-family: 'Bebas Neue', cursive;
}
.experience .my-exp{
  display: grid;
  
  box-shadow: 3px 3px 10px 3px black;
  border: 1px solid var(--main);
  width: 100%;
  
 
}
.left,.right,.medium{
  margin-bottom: 5%;
}


.my-exp{
  width: 100%;
  padding:2rem 1rem;
  
}
.experience p{
  padding-bottom: 1rem;
  
}
.experience p.p{
  text-align: center;
  
}
.box{
  border: 1px solid white;
}





.experience  h4{
    color: var(--main);
    text-transform: uppercase;
}
.experience  h5{
  color: #b6b6b6;
  margin-bottom: 1rem;
}


/* Contact me  */
.contact .contact-container{
   
    box-shadow: 2px 2px 10px 2px black;
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--main);
  
}
 .contact span{
  color: var(--main);
  font-family: 'Bebas Neue', cursive;
 }
 .contact .contact-container .h2{
  color: var(--main);
 }
 .contact .contact-container h5{
  margin: 0.8rem 0;
  font-size: 20px;
  color:azure;
 } 

.contact .contact-container .box h4{
  color: var(--main);
}

.contact .btn-contct{
  border: none;
  cursor: pointer;
}


/*----------------- Projects---------------- */
.projects-container{
  border:1px solid var(--main);
  display: grid;
  grid-template-columns: 100%;
  padding:1rem;
  box-shadow: 2px 2px 10px 2px black;
  width: 100%;
  
}
.projects-container .box{
  border:1px solid white;
  display: grid;
  
  grid-template-columns: 70% 30%;
  padding: 0;
  
  
}
.projects span{
  color: var(--main);
  font-family: 'Bebas Neue', cursive;
 }
 
 .wrapper .my-project h4 {
  color:var(--main);
  
 }
 .wrapper .my-project h5 {
  margin-top:0.5rem;
  color:gray;
 }
 .wrapper .my-project p{
  padding-top:1rem;
 }
 
 .wrapper .my-project{
  padding-right:2rem;
 }
 .projects .company,.projects .company p {
  padding:2rem;
  text-align: center;
 }


 /* --------awards */
 .awards-container {
  border:1px solid var(--main);
  display: grid;
  grid-template-columns: 100%;
  padding:1rem;
  box-shadow: 2px 2px 10px 2px black;
  
}
.awards-container .box{
  border:1px solid white;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0rem;
 
  
  
}
.awards span{
  color: var(--main);
  font-family: 'Bebas Neue', cursive;
 }
 
  .my-award h4 {
  color:var(--main);
  
 }
  .my-award h5 {
  margin-top:0.5rem;
  color:gray;
 }
  .my-award p{
  padding-top:1rem;
 }
 
  .my-award{
  padding-right:2rem;
  padding-top:1rem;
  border-right:1px solid gray;
  
 }
 .awards .company,.awards .company p {
  padding:1rem 0rem;
  
  
 }


  
