nav{
    position:fixed;
    width: 100%;
    height: 80px;
    background-color:transparent;
    z-index: 1000;
    
    transition: all 0.3s ease-in-out;
  }
  label.logo{
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin:0 4rem;
    line-height: 80px;
    font-family: 'Gumela';
  
  }
  label span{
    font-family: 'Gumela';
    color:var(--main);
  }
  nav .navbar {   
    display: block;
    float: right;
  }
  nav ul{
    margin-right: 3rem;
  }
  nav ul li{
   display: inline-block;
   line-height: 80px;
    
  }
   nav ul li a{
    color: black;
    font-family: 'Gumela';
    font-weight: bold;
    padding: 0.2rem 0.8rem;
    transition: all 0.6s linear;

    
  }
  nav ul li a:hover{
    transition: all 0.6s linear;
    border-radius: 20%;
    
    background-color: var(--main);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  }
 
  
 
  
 
  
  nav div.ham-tog-btn{
    float: right;
  }
  nav  .ham-tog-btn{
    
    display: none;
    line-height: 80px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-right: 4%;
    transition: all 0.6s linear;
  }
 
  nav.scrolled{
    background:var(--main);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    transition: all 0.3s ease-in-out;
    color: white;
  }
  label span.scrolled {
    color: white;
    transition: all 0.5s ease-in-out;
  }
  
  .scroll-to-top.scrolled{
    transition: all 0.6s ease-in-out;
    display: block; /* show the button when the "show" class is added */
  }
  
  


