@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gumela';
    scroll-padding-top: 2rem;
}
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 10px rgba(22, 160, 133, .2);
}
html{

    width: 100;

}
body{
    overflow-x: hidden;
    width: 100%;
      
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
    
}
::selection{
    background-color: var(--green);
    color: white;
}
.heading1{
    
    text-align:center;
     font-size:60px; 
    text-transform:uppercase; 
    color:var(--green); 
    letter-spacing:1px;
    font-family:"Playfair Display",
     serif; font-weight:400;
     text-shadow:var(--box-shadow);
     padding-bottom: 1.8rem;
     
}
h1{
    
    
     font-size:2.5rem; 
    
     
    
}
section{
    
    
    padding:3rem 5%;
    padding-bottom: 10rem;
    width: 100%;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Menu bar toggle */
#menu-btn{
    display: block;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin:0 1rem;
    padding: 1px .3rem;
    font-weight: bold;
    color: #5E1914;
    
    transition: all 0.3s linear;
}
#menu-btn:hover{
    transform: rotate(90deg);
}
#menu-btn2{
    
    font-size: 30px;
    
    
    font-weight: bold;
    color: #5E1914;
    
}

/*Sign Button and Back Button */
.sign-back-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}
#sign-in{
    font-size: 20px;
    display: none;
    
    font-weight: bold;
    color: #5E1914;
}

.navbar #sign-in-2{
    display: block;
}




/* -------------- */
header.header{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    
    left:0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
    z-index: 1000;
    transition: all 0.3s linear;
    height:80px;
    color: white;
    
    
    
}
header ul li{
    float:left;
    padding:0px 15px;
}
header ul li a{
    
    font-weight: bold;
    
    background-color: transparent;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

   
  li {
      list-style: none;
  }

header.header label.logo img{
    width: 100%;
    height: 70px;
    color: white;
}
/* header.header label.logo{
    transform: translateX(60px);
} */

label.logo i{
    padding-right:5px;
}
header.scrolled {
    
    transition: all 0.3s linear;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
 box-shadow: 5px 5px 15px gray;
 
}

/* Main content */
section.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ruler{
    width: 50%;
    height: 5px ;
    margin: 1rem 0;
    background: linear-gradient(90deg,hsla(25,71%,73%,.529),rgba(202,70,37,.98),var(--main-color),rgba(202,70,37,.98),hsla(25,71%,73%,.529));
    border-radius: 50%;
}

.home .text-content {
    padding: 2rem 15rem;
    text-align: center;
}

/* ----------------- */
/* Benefits */
 .benefits .yoga-facts{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: space-around;
    
 }
 .benefits .yoga-facts img{
    
    width: 50%;
    height: auto;
    
 }
 .benefits .yoga-facts .image{
    display: flex;
    justify-content: center;
 }


 .text-content li{
    list-style-type:square;
    text-align: left;
    padding: 0.3rem 0;
    transform: translateX(10%);
 }
 .history{
    display: grid;
    grid-template-columns:60% 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .yoga-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .yoga-history p{
    padding: 0 3rem;
 }
 .history img{
    width: 50%;
    height: 50%;
 }


 /* international */
 .international .yoga-day{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    
    align-items: center;
 }
 .international img{
    width: 100%;
    height: auto;
 }
 .international .text-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .international .text-content p{
    padding: 0 5rem;
 }








    section.links{
        background-color: var(--main-color);
        padding: 1rem 0;
    }
    section .all-container{
        display: grid;
        gap:2rem;
        color: white;
        justify-content: space-around;
        grid-template-columns: auto auto auto;
        background-color: transparent;
    }
   

    .all-container .box a{
        display: block;
    font-size: 1rem;
    font-weight: bold;
    color:var(--light-color);
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    color: rgb(187, 187, 187);
    }
    .all-container .box a:hover{
        transform:translateX(20px);
        /* margin-right:100px; */
        color: #16a085;
        transition: all 0.5s ease-in-out;
    }
    
   .all-container .box  h3{
        font-size: 1.5rem;
        color:wheat;
        padding: 1rem 0;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
    }
    section.links{
        margin-bottom:0;
    }
    .footer{
        text-align: center;
        background-color: #f1f1f1;
        margin-top:-56px;
        

        
    }
    .footer p{
        color: var(--green);
    }

    .my-footer{
        padding-top:0px;
    }

    .links .logo2 {
        text-transform: uppercase;
        text-align: center;
        
        color:var(--green);
        font-size: 40px;
        font-family: 'Lato', sans-serif;
            font-weight:bold;
            margin-bottom: -75px;
    margin-top: 68px;
        text-shadow:var(--box-shadow);
        
    }

    .creator{
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        color: var(--main-color);
    }
   