
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 10px rgba(22, 160, 133, .2);
}
html{
    width: 100%;
}
.heading{
    
    text-align:center;
     font-size:50px; 
    text-transform:uppercase; 
    color:var(--green); 
    letter-spacing:1px;
    font-family:"Playfair Display",
     serif; font-weight:400;
     text-shadow:var(--box-shadow);
     padding-bottom: 1.8rem;
}
section{
    padding:4rem 10%;
    padding-bottom: 10rem;
}
header.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    z-index: 1000;
    
    height:60px;
}

header ul li{
    float:left;
    padding:0px 20px;
}
header ul li a{
    color:var(--green);
    font-weight: bold;
    
    
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#header li:hover a::before {
    right: 0;
    left: 0;
  }
 
  #header a:hover {
    color: #e74c3c;
  }
  #header a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  #header a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }

header.header label.logo {
    text-transform: uppercase;
    width: 300px;
    color:var(--green);
    font-size: 25px;
    font-weight: bold;
    margin-left:70px;
    
}
label.logo i{
    padding-right:5px;
}
section.intro{
    display: flex;
    padding-left:40px;
    padding-right:40px;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
    
}
section.intro div.img{
    width:100%;
}
.intro .img {
    flex:1 1 .5rem;
}
.intro .content{
    flex:1 1 .5rem;
}
.intro .content p{
    font-family: 'Inter', sans-serif;
    line-height: 1.8rem;
    padding:15px 5px;
    font-weight: bold;
    word-spacing: 2px;
    color:var(--light-color);
}
.intro .content .btn{
    padding: 5px 5px;
    width:120px;
    background-color: transparent;
    color:var(--green);
    border-color: var(--green);
    font-weight: bold;
    text-align: center;
}
.intro .content .btn:hover{
    background-color: var(--green);
    color:white;
    transition: all 0.3s linear;
    
    transform: scale(1.2);
}
.intro .content .btn{
    transition: all 0.3s linear;
    transform: scale(1);
}

.intro .content .btn1{
    text-align: center;
}

section .container{
    display: grid;
    gap:1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
    
}
section.dr-service .icon-service{
    border-color: var(--green);
    border-width: 10px solid;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(1, 85, 1);
    border-radius: 2px;
    text-align: center;
    padding:2rem;
    border-color: var(--green);
    border-radius: 2px;
    height:180px;
    width:220px;

}
section.dr-service .icon-service:hover{
    transform: scale(1.1);
    box-shadow: 0.5px 0.5px 10px 0.5px rgb(1, 85, 1);
    transition: all 0.3s ease-out;
}
    section.dr-service .icon-service{
        transition: all 0.3s ease-out;
    }

.dr-service .icon-service i{
    color:#16a085;
    font-size: 2.5rem;
    padding-bottom: 1.2rem;
}
.dr-service .icon-service h3{
    
    text-align:center;
     font-size:30px; 
    text-transform:uppercase; 
    color:var(--green); 
    letter-spacing:1px;
    font-family:"Playfair Display",
     serif; font-weight:bold;
     text-shadow:var(--box-shadow);
     line-height: 20px;
}
.dr-service .icon-service p{
    font-family: 'Inter', sans-serif;
    line-height: 1.8rem;
    padding:15px 5px;
    font-weight: bold;
    word-spacing: 2px;
    color:var(--light-color);
}
section .container2{
    display: grid;
    gap:2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}
.service .service-icon{
    border-color: var(--green);
    border-width: 10px solid;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(1, 85, 1);
    border-radius: 2px;
    text-align: center;
    padding:2rem;
    border-color: var(--green);
    border-radius: 2px;
    height:230px;
    width:300px;

}
section.service .service-icon:hover{
    transform: scale(1.1);
    box-shadow: 0.5px 0.5px 10px 0.5px rgb(1, 85, 1);
    transition: all 0.3s ease-out;
}
    section.service .service-icon{
        transition: all 0.3s ease-out;
    }

.service .service-icon i{
    color:#16a085;
    font-size: 2rem;
    padding-bottom: 1.2rem;
}
.service .service-icon h3{
    
    text-align:center;
     font-size:20px; 
    text-transform:uppercase; 
    color:var(--green); 
    letter-spacing:1px;
    font-family:"Playfair Display",
     serif; font-weight:bold;
     text-shadow:var(--box-shadow);
     line-height: 20px;
}
.service .service-icon p{
    font-family: 'Inter', sans-serif;
    line-height: 1.8rem;
    padding:15px 5px;
    font-weight: bold;
    word-spacing: 2px;
    color:var(--light-color);
}
.service .service-icon .btn{
    
        padding: 5px 5px;
        width:90px;
        background-color: transparent;
        color:var(--green);
        border-color: var(--green);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
    .service .btn:hover{
        background-color: var(--green);
        color:white;
        transition: all 0.3s linear;
        
        transform: scale(1.2);
    }
    .service .btn{
        transition: all 0.3s linear;
        transform: scale(1);
    }
    
      

